fastapi~=0.115.11
uvicorn
sqlalchemy~=2.0.39
psycopg2-binary
python-dotenv
python-jose~=3.4.0
bcrypt~=4.3.0
fastapi-mail
pydantic~=2.10.6
pydantic-settings~=2.8.1
alembic~=1.15.1
redis

aioredis~=2.0.1
itsdangerous~=2.2.0